# IDE 配置
.idea/
.vscode/

.claude/

# Python
__pycache__/
*.pyc

# 图片数据集（只保存在本地）
03_food_classification/food-11/
03_food_classification/food-11_sample/
03_food_classification/FashionMnist/
03_food_classification/data/food-11/
03_food_classification/data/food-11_sample/

# 训练模型（只保存在本地）
03_food_classification/model_save/*
!03_food_classification/model_save/README.md
*.pth
*.pt
